<!DOCTYPE html>
<html lang="en">
<body>
<center>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Change Credentials </h2>

    <!-- Login Form -->
    <form method='POST' action="{{ url_for('change_credentials')}}">
      <input type="text" id="password" name="login_email" placeholder="email">
      <input type="text" id="password" name="login_password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Change Credentials">
    </form>


  </div>
</div>
</center>
</body>
</html>  